{
		"env": {
    	"browser": true,
    	"node": true,
    	"es6": true
  	},
		"extends": [
			"airbnb",
			"prettier"
		],
		"rules": {
			"no-undef": "off",
			"indent": [2, "tab"],
			"no-tabs": 0,
			"react/react-in-jsx-scope": "off",
			"react/jsx-filename-extension": [
				1,
				{
					"extensions": [".js", ".jsx"]
				}
			],
			"react/jsx-indent": "off"
		}
}
